.formulario{
    color: black;
    background-image: url(../../images/contact/portada.jpg);
    height: 1250px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mediaQueryTablet{
        height: fit-content;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
        align-items: center;
        padding-top: 10px;
        margin: 20px 0;
        border-radius: 8px;
        flex-wrap: wrap;
        background-color: $color-terciario;
        @include mediaQueryTablet{
            width: 70vh;
        
        }
    }
    .preguntas{
        background-color: $color-terciario;
        width: fit-content;
        margin: 10px;
        width: 50%;
        font-size: $desktop-texto;
        padding: 5px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        @include mediaQueryTablet{
            font-size: $mobile-texto;
        }
        @include mediaQueryMobile{
            font-size: $mobile-texto - 4px;
        }
    }
    p{
        width: fit-content;
        margin: 10px;
        font-size: $desktop-texto;
        padding: 5px;
        border-radius: 8px;
        @include mediaQueryTablet{
            font-size: $mobile-texto;
        }
        @include mediaQueryMobile{
            font-size: $mobile-texto - 4px;
        }
    }
    .opciones{
        background-color: $color-terciario;
        width: fit-content;
        text-align: justify;
        margin: 10px;
        font-size: $desktop-texto;
        padding: 5px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        @include mediaQueryTablet{
            font-size: $mobile-texto;
            flex-direction: column;
        }
        @include mediaQueryMobile{
            font-size: $mobile-texto - 4px;
        }
    }
    label{
        padding: 5px;
    }
}