// Colores //
$color-primario: black;
$color-secundario: white;
$color-terciario: #d9bcda;
$color-cuarto: linear-gradient(167deg, rgba(216,231,238,1) 0%, rgba(137,137,171,1) 53%, rgba(255,218,235,1) 100%);
$color-quinto: #740441;
$color-sexto: #fcf8f2;

// tamaños de letra//
$desktop-titulo: 70px;
$desktop-subtitulo: 20px;
$desktop-texto:16px;
$tablet-titulo:40px;
$tablet-subtitulo:18px;
$tablet-texto:16px;
$mobile-titulo: 30px;
$mobile-subtitulo: 14px;
$mobile-texto:12px;

//mixins//
@mixin mediaQueryMobile{
    @media (max-width: 492px){
        @content;
    }
}
@mixin mediaQueryTablet{
    @media (max-width:991px){
        @content;    
    }
}

//animaciones //
@mixin aparecer{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@mixin seleccionar{
    transform: scale(1.2,1.2);
    transition: all 1s ease;
}