.wp {
    background-color: black;
    padding: 20px 0px 20px 20px;
    border-radius: 10px;
    font-size: $desktop-texto;
    text-decoration: none;
    color: white;
    margin-left: 40px;
    img{
        height: 80px;
        @include mediaQueryMobile{
            height: 50px;
        }
        }
    @include mediaQueryTablet{
            font-size: $tablet-texto;
            padding: 15px 0px 15px 15px;
            img {
                height: 60;
            }
         }
    @include mediaQueryMobile{
        font-size: $mobile-texto;
        padding: 12px 0px 12px 12px;
        img {
            height: 40;
         }
    }
}
