* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wp {
  background-color: black;
  padding: 20px 0px 20px 20px;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  margin-left: 40px;
}
.wp img {
  height: 80px;
}
@media (max-width: 492px) {
  .wp img {
    height: 50px;
  }
}
@media (max-width: 991px) {
  .wp {
    font-size: 14px;
    padding: 15px 0px 15px 15px;
  }
  .wp img {
    height: 60;
  }
}
@media (max-width: 492px) {
  .wp {
    font-size: 12px;
    padding: 12px 0px 12px 12px;
  }
  .wp img {
    height: 40;
  }
}

.navbar {
  --bs-navbar-padding-y: unset;
}
.navbar .header {
  background-color: black;
  opacity: 0.8;
  position: fixed;
  z-index: 100000;
  top: 0;
}
.navbar .header .logo {
  color: white;
  display: none;
  font-family: "Sacramento", sans-serif;
  margin-left: 15px;
  font-size: 40px;
}
@media (max-width: 991px) {
  .navbar .header .logo {
    display: block;
  }
}
.navbar .header .logo:hover {
  background-color: white;
  color: black;
}
.navbar .header .pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.navbar .header .pages .page {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  padding: 26px;
}
.navbar .header .pages .page:hover {
  background-color: white;
  color: black;
  transition: all 0.5 ease;
}
.navbar .header .pages .inicio {
  color: white;
  font-size: 40px;
  font-family: "Sacramento", sans-serif;
  padding: 12px;
}
.navbar .header .pages .inicio:hover {
  background-color: white;
  color: black;
  transition: all 0.5 ease;
}
@media (max-width: 991px) {
  .navbar .header .pages .inicio {
    display: none;
  }
}
.navbar .header .pages .current {
  font-weight: bolder;
}

footer {
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div {
  display: flex;
}
footer p {
  margin: 0;
  font-size: 14px;
}
footer img {
  height: 60px;
}
@media (max-width: 991px) {
  footer div {
    flex-direction: column;
    align-items: center;
  }
}

#hero {
  background-image: url(../../images/index/hero.jpeg);
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
@media (max-width: 991px) {
  #hero {
    height: 950px;
  }
}
@media (max-width: 492px) {
  #hero {
    height: 680px;
  }
}
#hero h1 {
  color: white;
  font-size: 70px;
  font-weight: 600;
  padding-top: 100px;
  padding-left: 20px;
}
@media (max-width: 991px) {
  #hero h1 {
    font-size: 40px;
  }
}
@media (max-width: 492px) {
  #hero h1 {
    font-size: 40px;
    padding-top: 100px;
  }
}
#hero p {
  color: white;
  font-size: 20px;
  font-style: italic;
  padding-left: 20px;
}
@media (max-width: 991px) {
  #hero p {
    font-size: 18px;
  }
}
@media (max-width: 492px) {
  #hero p {
    font-size: 14px;
  }
}

#about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 470px auto;
  grid-template-areas: "banner banner" "personal1 personal2";
}
#about #banner {
  grid-area: banner;
}
#about .personal1 {
  grid-area: personal1;
  display: flex;
  background: linear-gradient(167deg, rgb(216, 231, 238) 0%, rgb(137, 137, 171) 53%, rgb(255, 218, 235) 100%);
  padding-top: 20px;
}
#about .personal1 img {
  height: 300px;
  margin: 40px;
  border-radius: 8px;
}
@media (max-width: 991px) {
  #about .personal1 img {
    height: 250px;
    width: 230px;
  }
}
@media (max-width: 492px) {
  #about .personal1 img {
    height: 220px;
    width: 200px;
  }
}
#about .personal1 p {
  font-size: 16px;
  margin-right: 20px;
}
@media (max-width: 991px) {
  #about .personal1 p {
    font-size: 14px;
    margin: 20px;
    text-align: justify;
  }
}
@media (max-width: 492px) {
  #about .personal1 p {
    font-size: 12px;
  }
}
#about .personal1 h2 {
  font-size: 20px;
  font-weight: bolder;
}
@media (max-width: 991px) {
  #about .personal1 h2 {
    margin-left: 20px;
    font-size: 18px;
  }
}
@media (max-width: 492px) {
  #about .personal1 h2 {
    font-size: 14px;
  }
}
@media (max-width: 492px) {
  #about .personal1 {
    flex-direction: column;
    align-items: center;
  }
}
#about .personal2 {
  grid-area: personal2;
  background-color: #d9bcda;
}
#about .personal2 p {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
@media (max-width: 991px) {
  #about .personal2 p {
    margin: 20px;
    font-size: 14px;
  }
}
@media (max-width: 492px) {
  #about .personal2 p {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  #about {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "banner" "personal1" "personal2";
  }
}

.portada {
  background-image: url(../../images/general/portada.png);
  background-position: center;
  background-size: cover;
  height: 470px;
  padding: 100px 20px 20px 20px;
}
.portada .h1 {
  color: white;
  font-size: 70px;
  font-weight: bolder;
}
.portada .p {
  color: black;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .portada {
    height: 400px;
  }
}
@media (max-width: 492px) {
  .portada {
    height: 350px;
  }
}

.formulario {
  color: black;
  background-image: url(../../images/contact/portada.jpg);
  height: 1000px;
  width: 100%;
  background-size: cover;
}
.formulario .separador {
  width: 100%;
  margin: 0;
  height: 25px;
  background-color: black;
}
.formulario form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}
.formulario .preguntas {
  background-color: #d9bcda;
  width: fit-content;
  margin: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 991px) {
  .formulario .preguntas {
    font-size: 12px;
  }
}
.formulario p {
  background-color: #d9bcda;
  width: fit-content;
  margin: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
}
@media (max-width: 991px) {
  .formulario p {
    font-size: 12px;
  }
}
.formulario .opciones {
  background-color: #d9bcda;
  width: fit-content;
  text-align: justify;
  margin: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 991px) {
  .formulario .opciones {
    font-size: 12px;
  }
}
.formulario label {
  padding: 5px;
}

.preguntas {
  font-size: 12px;
}

form p {
  font-size: 10px;
}

.opciones {
  font-size: 10px;
}

.area {
  width: 70%;
}

/*# sourceMappingURL=main.css.map */
