@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wp {
  background-color: black;
  padding: 20px 0px 20px 20px;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  margin-left: 40px;
}
.wp img {
  height: 80px;
}
@media (max-width: 492px) {
  .wp img {
    height: 50px;
  }
}
@media (max-width: 991px) {
  .wp {
    font-size: 16px;
    padding: 15px 0px 15px 15px;
  }
  .wp img {
    height: 60;
  }
}
@media (max-width: 492px) {
  .wp {
    font-size: 12px;
    padding: 12px 0px 12px 12px;
  }
  .wp img {
    height: 40;
  }
}

.navbar {
  --bs-navbar-padding-y: unset;
}
.navbar .header {
  background-color: black;
  opacity: 0.8;
  position: fixed;
  z-index: 100000;
  top: 0;
}
.navbar .header .logo {
  color: white;
  display: none;
  font-family: "Sacramento", sans-serif;
  margin-left: 15px;
  font-size: 40px;
}
@media (max-width: 991px) {
  .navbar .header .logo {
    display: block;
  }
}
.navbar .header .logo:hover {
  background-color: white;
  color: black;
}
.navbar .header .pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.navbar .header .pages .page {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  padding: 26px;
}
.navbar .header .pages .page:hover {
  background-color: white;
  color: black;
  transition: all 0.5 ease;
}
.navbar .header .pages .inicio {
  color: white;
  font-size: 40px;
  font-family: "Sacramento", sans-serif;
  padding: 12px;
}
.navbar .header .pages .inicio:hover {
  background-color: white;
  color: black;
  transition: all 0.5 ease;
}
@media (max-width: 991px) {
  .navbar .header .pages .inicio {
    display: none;
  }
}
.navbar .header .pages .current {
  font-weight: bolder;
}

footer {
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div {
  display: flex;
}
footer p {
  margin: 0;
  font-size: 14px;
}
footer img {
  height: 60px;
}
@media (max-width: 991px) {
  footer div {
    flex-direction: column;
    align-items: center;
  }
}

#hero {
  background-image: url(../../images/index/hero.jpeg);
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
@media (max-width: 991px) {
  #hero {
    height: 950px;
  }
}
@media (max-width: 492px) {
  #hero {
    height: 680px;
  }
}
#hero h1 {
  color: white;
  font-size: 70px;
  font-weight: 600;
  padding-top: 100px;
  padding-left: 20px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
@media (max-width: 991px) {
  #hero h1 {
    font-size: 30px;
  }
}
@media (max-width: 492px) {
  #hero h1 {
    font-size: 30px;
    padding-top: 100px;
  }
}
#hero p {
  color: white;
  font-size: 20px;
  font-style: italic;
  padding-left: 20px;
}
@media (max-width: 991px) {
  #hero p {
    font-size: 18px;
  }
}
@media (max-width: 492px) {
  #hero p {
    font-size: 14px;
  }
}

#about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 470px auto;
  grid-template-areas: "banner banner" "personal1 personal2";
}
#about #banner {
  grid-area: banner;
}
#about .personal1 {
  grid-area: personal1;
  display: flex;
  background: linear-gradient(167deg, rgb(216, 231, 238) 0%, rgb(137, 137, 171) 53%, rgb(255, 218, 235) 100%);
  padding-top: 20px;
}
#about .personal1 img {
  height: 300px;
  margin: 40px;
  border-radius: 8px;
}
@media (max-width: 991px) {
  #about .personal1 img {
    height: 250px;
    width: 230px;
  }
}
@media (max-width: 492px) {
  #about .personal1 img {
    height: 220px;
    width: 200px;
  }
}
#about .personal1 p {
  font-size: 16px;
  margin-right: 20px;
}
@media (max-width: 991px) {
  #about .personal1 p {
    font-size: 16px;
    margin: 20px;
    text-align: justify;
  }
}
@media (max-width: 492px) {
  #about .personal1 p {
    font-size: 12px;
  }
}
#about .personal1 h2 {
  font-size: 20px;
  font-weight: bolder;
}
@media (max-width: 991px) {
  #about .personal1 h2 {
    margin-left: 20px;
    font-size: 18px;
  }
}
@media (max-width: 492px) {
  #about .personal1 h2 {
    font-size: 14px;
  }
}
@media (max-width: 492px) {
  #about .personal1 {
    flex-direction: column;
    align-items: center;
  }
}
#about .personal2 {
  grid-area: personal2;
  background-color: #d9bcda;
}
#about .personal2 p {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
@media (max-width: 991px) {
  #about .personal2 p {
    margin: 20px;
    font-size: 16px;
  }
}
@media (max-width: 492px) {
  #about .personal2 p {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  #about {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "banner" "personal1" "personal2";
  }
}

#banner {
  background-image: url(../../images/general/portada.png);
  background-position: center;
  grid-area: banner;
  background-size: cover;
  height: auto;
  padding: 100px 20px 20px 20px;
}
#banner h1 {
  color: white;
  font-size: 70px;
  font-weight: bolder;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
@media (max-width: 991px) {
  #banner h1 {
    font-size: 40px;
  }
}
@media (max-width: 492px) {
  #banner h1 {
    font-size: 30px;
  }
}
#banner p {
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 0 20px;
}
@media (max-width: 991px) {
  #banner p {
    font-size: 18px;
  }
}
@media (max-width: 492px) {
  #banner p {
    font-size: 14px;
  }
}
#banner .disclaimer {
  font-size: 16px;
}
@media (max-width: 991px) {
  #banner .disclaimer {
    font-size: 16px;
  }
}
@media (max-width: 492px) {
  #banner .disclaimer {
    font-size: 12px;
  }
}

.formulario {
  color: black;
  background-image: url(../../images/contact/portada.jpg);
  height: 1000px;
  width: 100%;
  background-size: cover;
}
.formulario .separador {
  width: 100%;
  margin: 0;
  height: 25px;
  background-color: black;
}
.formulario form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}
.formulario .preguntas {
  background-color: #d9bcda;
  width: fit-content;
  margin: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 991px) {
  .formulario .preguntas {
    font-size: 12px;
  }
}
.formulario p {
  background-color: #d9bcda;
  width: fit-content;
  margin: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
}
@media (max-width: 991px) {
  .formulario p {
    font-size: 12px;
  }
}
.formulario .opciones {
  background-color: #d9bcda;
  width: fit-content;
  text-align: justify;
  margin: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 991px) {
  .formulario .opciones {
    font-size: 12px;
  }
}
.formulario label {
  padding: 5px;
}

.preguntas {
  font-size: 12px;
}

form p {
  font-size: 10px;
}

.opciones {
  font-size: 10px;
}

.area {
  width: 70%;
}

.redes {
  display: flex;
  flex-flow: row wrap;
  background-color: #d9bcda;
  justify-content: space-evenly;
}
.redes .enlaces {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: max-content;
}
.redes .enlaces p {
  font-size: 16px;
  margin: 20px 40px;
}
@media (max-width: 991px) {
  .redes .enlaces p {
    font-size: 16px;
    text-align: center;
  }
}
@media (max-width: 492px) {
  .redes .enlaces p {
    font-size: 12px;
  }
}
.redes .enlaces .fotoPersonal {
  height: 400px;
  width: 350px;
  margin: 40px;
}
@media (max-width: 991px) {
  .redes .enlaces .fotoPersonal {
    height: 300px;
    width: 250px;
    margin: 20px;
  }
}
@media (max-width: 492px) {
  .redes .enlaces .fotoPersonal {
    height: 250px;
    width: 200px;
    margin: 20px;
  }
}
.redes .enlaces .ig {
  height: 100px;
  background-color: black;
}
@media (max-width: 991px) {
  .redes .enlaces .ig {
    height: 60px;
  }
}
@media (max-width: 991px) {
  .redes .enlaces {
    width: 100%;
  }
}
.redes iframe {
  height: 350px;
  margin: 0 30px 50px 30px;
}
@media (max-width: 991px) {
  .redes iframe {
    height: 200px;
    width: 400px;
    margin: 0 30px 50px 30px;
  }
}

#services {
  display: grid;
  grid-template-columns: 175px auto;
  grid-template-rows: 500px auto auto auto;
  grid-template-areas: "banner banner" "menu cortes" "menu color" "menu tratamientos";
}
@media (max-width: 991px) {
  #services {
    grid-template-columns: auto;
    grid-template-rows: 500px auto auto auto;
    grid-template-areas: "banner" "cortes" "color" "tratamientos";
  }
}
#services #menuNavegacion {
  background-color: black;
  grid-area: menu;
}
#services #menuNavegacion .botones {
  margin-left: 20px;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  background: linear-gradient(208deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
  bottom: 2px;
  padding: 10px;
}
@media (max-width: 991px) {
  #services #menuNavegacion {
    display: none;
  }
}
#services #menuNavegacion .tipos-de-servicio {
  height: 20px;
  color: white;
  text-decoration: none;
}
#services #cortes {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 40px;
}
#services #cortes .cortes {
  color: black;
  background-color: white;
  padding: 10px;
  width: 500px;
  height: 170px;
  margin: 40px 60px 40px 20px;
  text-align: justify;
  align-items: center;
}
#services #cortes .cortes:hover {
  transform: scale(1.2, 1.2);
  transition: all 1s ease;
}
@media (max-width: 991px) {
  #services #cortes .cortes {
    width: 300px;
    height: auto;
    margin: 40px 30px 20px 20px;
    display: flex;
    flex-direction: column;
  }
}
#services #cortes .cortes p {
  font-size: 16px;
  margin: 0;
}
@media (max-width: 991px) {
  #services #cortes .cortes p {
    font-size: 16px;
    text-align: center;
  }
}
@media (max-width: 492px) {
  #services #cortes .cortes p {
    font-size: 12px;
  }
}
#services #cortes .cortes h2 {
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}
@media (max-width: 991px) {
  #services #cortes .cortes h2 {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 492px) {
  #services #cortes .cortes h2 {
    font-size: 14px;
  }
}
#services #cortes .cortes img {
  float: right;
  height: 200px;
  width: 180px;
  position: relative;
  top: 10px;
  left: 50px;
}
@media (max-width: 991px) {
  #services #cortes .cortes img {
    height: 130px;
    width: 120px;
    top: unset;
    left: unset;
    bottom: 20px;
  }
}
#services #color {
  background: black;
  background: linear-gradient(180deg, rgb(0, 0, 0) 8%, #ebabc9 55%, #fcf8f2 91%);
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#services #color .color {
  color: #740441;
  background-color: #d9bcda;
  padding: 10px;
  width: 500px;
  height: 170px;
  margin: 40px 60px 40px 20px;
  text-align: end;
  align-items: center;
}
#services #color .color:hover {
  transform: scale(1.2, 1.2);
  transition: all 1s ease;
}
@media (max-width: 991px) {
  #services #color .color {
    width: 300px;
    height: auto;
    margin: 40px 30px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#services #color .color p {
  font-size: 16px;
  margin: 0;
}
@media (max-width: 991px) {
  #services #color .color p {
    font-size: 16px;
    text-align: center;
  }
}
@media (max-width: 492px) {
  #services #color .color p {
    font-size: 12px;
  }
}
#services #color .color h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
}
@media (max-width: 991px) {
  #services #color .color h2 {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 492px) {
  #services #color .color h2 {
    font-size: 14px;
  }
}
#services #color .color img {
  float: left;
  height: 200px;
  width: 180px;
  position: relative;
  bottom: 70px;
  right: 20px;
}
@media (max-width: 991px) {
  #services #color .color img {
    height: 130px;
    width: 120px;
    top: unset;
    right: unset;
    bottom: 20px;
  }
}
#services #tratamientos {
  background-color: #fcf8f2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 50px;
}
#services #tratamientos .tratamientos {
  color: white;
  background-color: black;
  padding: 10px;
  width: 500px;
  height: 180px;
  margin: 40px 60px 40px 20px;
  text-align: end;
  align-items: center;
}
#services #tratamientos .tratamientos:hover {
  transform: scale(1.2, 1.2);
  transition: all 1s ease;
}
@media (max-width: 991px) {
  #services #tratamientos .tratamientos {
    width: 300px;
    height: auto;
    margin: 40px 30px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#services #tratamientos .tratamientos p {
  font-size: 16px;
  margin: 0;
}
@media (max-width: 991px) {
  #services #tratamientos .tratamientos p {
    font-size: 16px;
    text-align: center;
  }
}
@media (max-width: 492px) {
  #services #tratamientos .tratamientos p {
    font-size: 12px;
  }
}
#services #tratamientos .tratamientos h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
}
@media (max-width: 991px) {
  #services #tratamientos .tratamientos h2 {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 492px) {
  #services #tratamientos .tratamientos h2 {
    font-size: 14px;
  }
}
#services #tratamientos .tratamientos img {
  float: right;
  height: 200px;
  width: 150px;
  position: relative;
  bottom: 60px;
  left: 50px;
}
@media (max-width: 991px) {
  #services #tratamientos .tratamientos img {
    height: 130px;
    width: 120px;
    left: unset;
    bottom: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
